[Desktop Entry]
Version=1.0
Type=Application
Name=XVB
Comment=IPTV
Exec=python3 /home/TUONOME/xvb/xvb.py
Path=/home/TUONOME/xvb
Icon=/home/TUONOME/xvb/icon.png
Terminal=false
Categories=AudioVideo;Video;Player;TV;
StartupNotify=true
StartupWMClass=Xvb
